
 *{
    box-sizing:border-box;
    margin:0;
    padding:0;
 }

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Micro+5&family=Oswald:wght@200..700&display=swap');



 body{
    color:#222;
    padding-bottom:50px;


 }