
*{box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0;
    background-color:#CCCCFF;
}

.btn{
    background-color:#884EA0;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 15vh;
    border-radius:5px;
    color:white;
    cursor:pointer;
    margin:10px;
}
.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
